.footer-fix{
   display: flex;
   flex-direction: column;
   min-height:100hv;
}

.titles-divider{
  color: #4661bb;
}
/* ESTILO IMAGEN PRINCIPAL */
.contenedor-img{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/876/437/102/blue-material-material-design-minimal-art-wallpaper-preview.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 3rem;
    color: rgb(241, 240, 240);
  }
 
  .principal{
   padding-top: 6.5rem;
  }
  .principal-photo{
  padding: 1rem;
 }
 
 .letras-prin{
   font-size: large;
 }
 
  .photo-cv{
    max-width: 500px;
    max-height: 500px;
  }
 
  @media only screen and (max-width: 992px) {
   .principal{
     padding:1rem;
   }
   .principal-photo{
     padding: 1rem;
   }
   .photo-cv{
     max-width: 300px;
     max-height: 300px;
   }
   .letras-prin{
     margin: 1rem;
   }
 
 }
 
  /* ESTILO CARDS */
  .container-photo-home {
    font-family: 'Montserrat', sans-serif;
    border:none !important;
    position: relative;
}
 
  .card-home {
    font-family: 'Montserrat', sans-serif;;
    cursor: pointer;
    border: none;

}
.text-card-home{
  font-family: 'Montserrat', sans-serif;;
}

.titulo-card-home{
    font-size: 30px;
}
@media screen and (max-width: 766px) {
    .titulo-card-home{
        font-size: 20px;
    }
    .text-card-home{
        font-size: 15px;
    }
    /* css de projects */
    .img-icon{
  width: 150px !important;
    }
  }
  
.img-card {
  height: 100% !important;
}

  
/* glass card css */

  .glass-card {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #232b3a88;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass-card:hover {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #232b3a88;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #4661bb;
}

.btn-time{
  background: #4661bb;
  padding: 5px;
  color: whitesmoke;
  border-color: #4661bb;
  border-radius: 0.25rem;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
  transition: 0.4s;
  cursor: none;
}
.link-empresa{
  cursor: pointer;
}

.divider{
  background-size: cover !important;
  color: whitesmoke;
  overflow: hidden;
  width: 100%;
  border: none;
  padding: 2rem;
  background-color: #4661bb;
  font-family: 'Montserrat', sans-serif;
}

.card-icons {
  border: none !important;
}

.btn-contact{
  background-size: cover !important;
  color: whitesmoke;
  overflow: hidden;
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: #4661bb;
  font-family: 'Montserrat', sans-serif;
}
.btn-contact:hover{
  background-size: cover !important;
  color: #4661bb;
  overflow: hidden;
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

.contact-icon {
  font-size: 1rem;
  margin: 10px 10px;
  color: #4661bb;
  transition-duration: 0.3s;
}
.contact-icon:hover {
  font-size: 1.2rem;
  margin: 10px 10px;
  color: #6a84d8;
  transition-duration: 0.3s;
}

/* FOOTER */


.footer{
    overflow: hidden;
    background-color: #37383a;
    padding: 3rem;
  }
  
  .footer .icon-footer i {
    width: 44px;
    height: 44px;
    line-height: 43px;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .icon-footer i {
    width: 46px;
    height: 46px;
    font-size: 14px;
    color: #4661bb;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .footer .icon-footer i:hover {
    color: white;
  }
  
  .footer .icon-footer i+i {
    margin-left: 4px;
  }
  
  .footer .titulo-footer {
    color: whitesmoke;
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  